<div class="container">
  <h1>Docs#Edit</h1>

    <% if @doc.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@doc.errors.count, "error") %> prohibited
          this doc from being saved:
        </h2>
        <ul>
          <% @doc.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= form_for @doc do |f| %>
  <div class="form-group">
    <label for="bane">Name :</label>
    <%= f.text_field :name ,class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="words">Keywords :</label>
    <%= f.text_field :words ,class: "form-control" ,placeholder: "use comma ',' for Add tag" %>
  </div>

<!--   <div class="form-group">
    <label for="words">Keywords :</label>
    <div id="tags">
     <% if @doc.words.length != 0 %>
       <% @doc.words.each_with_index do |word , index| %>
          <span class="tag"> <%= word %></span>
       <% end %>
     <% end %>
    <%= text_field_tag "doc[words][]" ,"" ,class: "form-control" ,placeholder: "use comma ',' for Add tag" %>
    </div>
  </div>
 -->
  <div class="form-group">
    <label for="words">Author :</label>
    <%= f.text_field :author ,class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="words">Year :</label>
    <%= f.text_field :year  ,class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="words">Publisher :</label>
    <%= f.text_field :publisher  ,class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="words">Description :</label>
    <%= f.text_area :description  ,class: "form-control",rows: "4" %>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <%= f.file_field :pdf %>
    <p class="help-block">PDF ONLY !</p>
  </div>

  <%= f.submit "Submit" , class: "btn btn-primary" %>
  <% end%>

</div>